<div class="footer">
  <div class="container-fluid">
    <div class="row pe-5 ps-5" style="font-size: 13px;">
      <div class="col-4 bg-light p-3 left">
        <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73;">Hướng Dẫn Di Chuyển</h3>
        <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất
          Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được
          UNESCO công nhận:</p>
        <a href="#" class="border p-3 text-decoration-none text-light map">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                    </svg>
                                </span>
          <span>Xem Trên Bản Đồ ></span>
        </a>
        <h4 class="mt-4" style="font-family: 'Playfair Display', serif; color: #cbbe73;">Địa Điểm</h4>
        <ol>
          <li>Cố đô Huế</li>
          <li>Phố cổ Hội An</li>
          <li>Thánh địa Mỹ Sơn</li>
          <li>Động Phong Nha</li>
        </ol>
      </div>
      <div class="col-8" id="footer-address">
        <div class="row">
          <div class="col-4 lh-lg p-4 footer-list">
            <ul style="line-height: 35px;">
              <li><a href="#">Giá Công Bố</a></li>
              <li><a href="#">Lifestyle Blog</a></li>
              <li><a href="#">Tuyển Dụng</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </div>
          <div class="col-8 p-3">
            <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73;">Liên hệ</h3>
            <div class="d-flex">
              <div>
                                     <span class="pt-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                    </span>
              </div>
              <ul class="border-bottom p-2"
                  style="list-style-type: none; font-size: 11px; color: #747575">
                <li>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang
                  City, Vietnam
                </li>
                <li>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</li>
                <li>Email: reservation@furamavietnam.com * www.furamavietnam.com</li>
                <li>GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771,
                  Worldspan- GD DADFU
                </li>
              </ul>
            </div>
            <span class="p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-facebook" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                </svg>
                            </span>
            <span class="p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-camera-fill" viewBox="0 0 16 16">
                                     <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                                </svg>
                            </span>
            <span class="p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-youtube" viewBox="0 0 16 16">
                                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                                </svg>
                            </span>
          </div>
        </div>
        <div class="row" style="align-items: baseline; margin-top: 65px">
          <div class="col">
            <img src="../../assets/image/Ariyana-Tourism-Complex-02-2.png" height="62px" width="100%"/>
          </div>
          <div class="col" style="color: #747575;">
            <span> © 2018 Furama Resort Danang.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
