<h1>Danh sách sản phẩm</h1>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Sửa</td>
    <td>Xoá</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button [routerLink]="['/product/update', product.id]">Sửa</button></td>
    <td><button [routerLink]="['/product/delete', product.id]">Xoá</button></td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="selDelete(product.id, product.name)">
        delete
      </button>
    </td>
  </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá Sản Phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xoá?<span class="text-danger">{{valueDelete[1]}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetValue()">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(valueDelete[0])" data-bs-dismiss="modal">Xoá</button>
      </div>
    </div>
  </div>
</div>
