<div class="container p-3">
  <div class="text-center">
    <h3>Sửa Thông Tin</h3>
  </div>
  <form class="row g-3" [formGroup]="benhAnUpdateForm" (ngSubmit)="updateSubmit(id)">
    <input type="text" hidden formControlName="id">
    <div class="col-12">
      <label class="form-label">Mã Bệnh Án<span class="text-danger">*</span></label>
      <select class="form-select" aria-label="Default select example" name="maBenhAn" formControlName="maBenhAn" disabled>
        <option *ngFor="let item of maBenhAnList" [ngValue]="item">{{item.name}}</option>
      </select>
    </div>
    <div class="col-12">
      <label class="form-label">Mã Bệnh Nhân<span class="text-danger">*</span></label>
      <select class="form-select" aria-label="Default select example" name="maBenhNhan" formControlName="maBenhNhan" disabled>
        <option *ngFor="let item of maBenhNhanList" [ngValue]="item">{{item.name}}</option>
      </select>
    </div>
    <div class="col-12">
      <label class="form-label">Tên Bệnh Nhân<span class="text-danger">*</span></label>
      <input type="text" class="form-control" name="tenBenhNhan" formControlName="tenBenhNhan">
      <div class="text-danger" *ngFor="let validation of validationMessages.tenBenhNhan">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('tenBenhNhan').hasError(validation.type) && (benhAnUpdateForm.get('tenBenhNhan').dirty || benhAnUpdateForm.get('tenBenhNhan').touched)">
          {{validation.message}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Ngày Nhập Viện<span class="text-danger">*</span></label>
      <input type="date" class="form-control" name="ngayNhapVien" formControlName="ngayNhapVien">
      <div class="text-danger" *ngFor="let validation of validationMessages.ngayNhapVien">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('ngayNhapVien').hasError(validation.type) && (benhAnUpdateForm.get('ngayNhapVien').dirty || benhAnUpdateForm.get('ngayNhapVien').touched)">
          {{validation.message}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Nhày Ra Viện<span class="text-danger">*</span></label>
      <input type="date" class="form-control" name="ngayRaVien" formControlName="ngayRaVien">
      <div class="text-danger" *ngFor="let validation of validationMessages.ngayRaVien">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('ngayRaVien').hasError(validation.type) && (benhAnUpdateForm.get('ngayRaVien').dirty || benhAnUpdateForm.get('ngayRaVien').touched)">
          {{validation.message}}</div>
        <span class="text-danger" *ngIf="benhAnUpdateForm.get('ngayRaVien').hasError('checkDateOut')">Ngày nhập viện phải trước ngày ra viện</span>
      </div>
    </div>
    <div class="col-12">
      <label class="form-label">Lý Do Nhập Viện<span class="text-danger">*</span></label>
      <textarea class="form-control" name="lyDoNhapVien" formControlName="lyDoNhapVien"></textarea>
      <div class="text-danger" *ngFor="let validation of validationMessages.lyDoNhapVien">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('lyDoNhapVien').hasError(validation.type) && (benhAnUpdateForm.get('lyDoNhapVien').dirty || benhAnUpdateForm.get('lyDoNhapVien').touched)">
          {{validation.message}}</div>
      </div>
    </div>
    <div class="col-12">
      <label class="form-label">Phương Pháp Điều Trị<span class="text-danger">*</span></label>
      <textarea class="form-control" name="phuongPhap" formControlName="phuongPhap"></textarea>
      <div class="text-danger" *ngFor="let validation of validationMessages.phuongPhap">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('phuongPhap').hasError(validation.type) && (benhAnUpdateForm.get('phuongPhap').dirty || benhAnUpdateForm.get('phuongPhap').touched)">
          {{validation.message}}</div>
      </div>
    </div>
    <div class="col-12">
      <label class="form-label">Bác Sĩ Điều Trị<span class="text-danger">*</span></label>
      <input type="text" class="form-control" name="bacSi" formControlName="bacSi">
      <div class="text-danger" *ngFor="let validation of validationMessages.bacSi">
        <div class="error-message"
             *ngIf="benhAnUpdateForm.get('bacSi').hasError(validation.type) && (benhAnUpdateForm.get('bacSi').dirty || benhAnUpdateForm.get('bacSi').touched)">
          {{validation.message}}</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary me-2" [disabled]="benhAnUpdateForm.invalid">Sửa</button>
      <button routerLink="../../list" class="btn btn-primary">Trở Về Danh Sách</button>
    </div>
  </form>
</div>


