<div class="content">
  <div class="container-fluid" style="padding: 0">
    <img src="../../../assets/image/banner01.jpg" style="position: absolute" height="301" width="100%"/>
    <div class="content-header">
      <h3>Contract List</h3>
    </div>
  </div>
  <div class="container-fluid" style="font-size: 13px; padding: 75px">
    <table class="table table-bordered ">
      <thead class="bg-primary text-center text-light">
      <tr>
        <th>STT</th>
        <th>Dịch Vụ</th>
        <th>Khách Hàng</th>
        <th>Ngày Thuê</th>
        <th>Ngày Trả</th>
        <th>Tiền Trả Trước</th>
        <th>Tổng Tiền</th>
        <th>Dịch Vụ Đi Kèm</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of contractList">
        <td>{{item.id}}</td>
        <td>{{item.facility.name}}</td>
        <td>{{item.customer.name}}</td>
        <td>{{item.startDate}}</td>
        <td>{{item.endDate}}</td>
        <td>{{item.deposit}}</td>
        <td>đ</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal"
                  data-bs-target="#modelIdCreate">+
          </button>
          <!-- Button trigger modal -->
          <a href="#" class="btn btn-primary btn-sm">
            Danh sách dịch vụ đi kèm
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
