<div class="content">
  <div class="container-fluid" style="padding: 0">
    <img src="../../../assets/image/banner01.jpg" height="301" width="100%"/>
  </div>
  <div class="container-fluid" style="font-size: 13px; padding: 75px">
    <table class="table table-bordered ">
      <thead class="bg-primary text-center text-light">
      <tr>
        <th>STT</th>
        <th>Dịch Vụ</th>
        <th>Khách Hàng</th>
        <th>Ngày Thuê</th>
        <th>Ngày Trả</th>
        <th>Tiền Trả Trước</th>
        <th>Tổng Tiền</th>
        <th>Dịch Vụ Đi Kèm</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Villa Beach Front</td>
        <td>Nguyễn Thị Hào</td>
        <td>2020-12-08 00:00:00</td>
        <td>2020-12-08 00:00:00</td>
        <td>200000</td>
        <td>10000000</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#modelIdCreate">+
          </button>
          <!-- Button trigger modal -->
          <a href="#" class="btn btn-primary btn-sm">
            Danh sách dịch vụ đi kèm
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container d-flex flex-column align-items-center" style="font-size: 12px">
    <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73; margin-bottom: 20px">DỊCH VỤ & CƠ SỞ VẬT
      CHẤT</h3>
    <p>Có nhiều những gói nghỉ dưỡng phù hợp cho cả những kỳ nghỉ ngắn hay dài ngày</p>
  </div>

  <div class="container-fluid">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin: 80px 0;">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="container-fluid">
            <div class="row">
              <div class="col p-5">
                <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73;">DỊCH VỤ ĐÓN TIỄN
                  SÂN BAY</h3>
                <p style="float: none; position: static; font-size: 13px">Tận hưởng những sự thoải
                  mái, tiện lợi và
                  hoàn hảo ngay từ những giây phút đầu tiên của kỳ nghỉ khi hạ cánh tại Sân bay
                  Quốc tế Đà Nẵng với dịch đón tiễn sân bay chuyên nghiệp, thân thiện và sang
                  trọng từ Khu nghỉ. Có nhiều lựa chọn phù hợp với nhu cầu di chuyển từ một người
                  cho đến cả gia đình hay du lịch nhóm. Vui lòng liên hệ: +84 236 3847 333/ +84
                  236 3847 888 để đặt dịch vụ.</p>
                <div class="btn-group">
                  <a href="#" class="btn btn-primary" style="font-size: 13px">Đặt Lịch</a>
                </div>
              </div>
              <div class="col">
                <img src="../../../assets/image/FRD_Airport_Staff_Service_-2.jpeg" width="219" height="418"
                     class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container-fluid">
            <div class="row">
              <div class="col p-5">
                <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73;">DỊCH VỤ VĂN
                  PHÒNG</h3>
                <p style="float: none; position: static; font-size: 13px">Nằm tại sảnh đón khách của
                  Khu nghỉ mát Furama Resort Đà Nẵng, Trung Tâm Dịch Vụ Văn Phòng cung cấp nhiều
                  dịch vụ và thiết bị văn phòng cũng như nhu cầu thông tin cần thiết cho Qúy khách
                  bao gồm in ấn, quét và sao lưu tài liệu, thư tín, chuyển phát, fax cũng như
                  nhiều dịch vụ trợ giúp khác bao gồm khu vực máy tính để bàn kết nối internet
                  miễn phí. Gọi hội đàm, hội thảo kết nối video có thể được sắp xếp dựa trên yêu
                  cầu.</p>
                <div class="btn-group">
                  <a href="#" class="btn btn-primary" style="font-size: 13px">YÊU CẦU DỊCH VỤ</a>
                </div>
              </div>
              <div class="col">
                <img src="../../../assets/image/DSC_5851.jpeg" width="219" height="418"
                     class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container-fluid">
            <div class="row">
              <div class="col p-5">
                <h3 style="font-family: 'Playfair Display', serif; color: #cbbe73;">XE BUÝT DỊCH VỤ
                  THEO LỊCH TRÌNH CÓ SẴN</h3>
                <p style="float: none; position: static; font-size: 13px">Khu nghỉ có dịch vụ xe đưa
                  đón tham quan phố cổ Hội An theo lịch trình hàng ngày với xe buýt 29 chỗ thoải
                  mái, thuận tiện và an toàn.</p>
                <p>Đặt dịch vụ, Vui lòng liên hệ: <strong>+84 236 3847 333</strong> /<strong>+84 236
                  3847 888</strong></p>
                <div class="btn-group">
                  <a href="#" class="btn btn-primary" style="font-size: 13px">LỊCH TRÌNH</a>
                </div>
              </div>
              <div class="col">
                <img src="../../../assets/image/Shuttle_Bus_Furama_Danang-1.jpeg" width="219" height="418"
                     class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
